/* Goggle fonts */
/* 
font-family: 'Kalam', cursive;
font-family: 'Rubik', sans-serif;
*/
:root {
    --primary-color: #bbb;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
/* Header */
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 10%;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.navlist{
    display: flex;
}
.navlist a{
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #fff;
}
#menu-icon{
    color: #fff;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* Main */
.heroes{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top left, #8F9FA8, #49555C, #5C5745, #886DA8, #4D405C);
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    row-gap: 0 1000 0;
    gap: 2rem;
}
section{
    padding: 0 15%;
}
.heroes-text h1{
    font-family: 'Kalam', cursive;
    font-size: 90px;
    color: #fff;
}
.heroes-text h2{
    font-family: 'Kalam', cursive;
    font-size: 20px;
    color: #fff;
}
.heroes-text p{
    font-size: 15px;
    color: #fff;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 350px;
    height: auto;
}
.heroes-text a{
    display: inline-block;
    color: #fff;
    background-color: #8262a9;
    border: 1px solid transparent;
    padding: 12px 20px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.heroes-text a:hover{
    background-color: transparent;
    border: 1px solid #fff;
    transform: translateY(-6px);
}
.heroes-text a i{
    margin-right: 12px;
}
@media (max-width: 1460px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    section{
        padding: 0 10%;
        transition: .2s;
    }

}
@media (max-width: 1260px){
    section{
        padding: 0 6%;
        transition: .2s;
    }
    .heroes-text h1{
        font-size: 70px;
    }
    .hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1020px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .heroes-text h2{
        font-size: 16px;
    }
}
@media (max-width: 1020px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .heroes-text h2{
        font-size: 16px;
    }
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #49555C;
        padding: 22px 20px;
        transition: all .55s ease;
        border-radius: 20px;
    }
    .navlist a{
        display: block;
        margin: 12px 0;
        margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
    .heroes{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 200px repeat(2,1fr);
        align-items: center;
        row-gap: 0 1000 0;
        gap: 2rem;
    }
    section{
        padding: 16% 8% 0 8%;
    }
    .heroes-text h1{
        text-align: center;
        font-size: 40px;
    }
    .heroes-text p{
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}
@media (max-width: 430px){
    .heroes-text h1{
        text-align: left;
        font-size: 24px;
    }
    .heroes-text h2{
        font-size: 14px;
    }
    .heroes-text a{
        padding: 6px 10px;
        line-height: 1.4;
        font-size: 10px;
        font-weight: 500;
        border-radius: 30px;
    }
}
